litemultiagent.egg-info
build
dist
log.txt
chroma
# Byte-compiled / optimized / DLL files
__pycache__/
.cache

# Environments
.env
env/
venv/
ENV/
env.bak/
venv.bak/
.venv*

.DS_Store
.idea/*

# Keys
OAI_CONFIG_LIST

pyc

process_message.py
# database
./code/files/chroma/*

